* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding:0;
    min-height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    background:
    radial-gradient(
        circle at center,
        rgb(255, 255, 255) 0%,
        rgb(250, 249, 245) 35%,
        rgb(238, 234, 220) 65%,
        rgb(214, 206, 170) 100%
    );
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 1rem;
    margin: 0.5rem 3rem 0; 
    flex-wrap: wrap;
}

.galleries-button{
    border: 0.1rem solid black;
    padding: 0.5rem 1rem;
    gap: 2rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: grey;
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    letter-spacing: 0.05rem;
    box-shadow: 0 0 0 1px black;
    color: gold;
    
}

.landing   {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
    }

h1{
    color: blueviolet;
}

.layout {
    display: grid;
    grid-template-rows: 1fr 50px;
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
}

.center-p{
    margin-bottom: 10rem;
}

.center-title    {
    font-size: 2rem;
    text-align: center;
    font-weight: 900px;
    color: blueviolet;
}                                                                                                                            

.thumb-cont {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20rem;
    gap: 1rem;
    min-width: 20rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.thumb-title    {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0rem 0 0.5rem;
}

.thumb{
    border: 0.05rem solid black;
    padding: 0.3rem;
    cursor: pointer;
    
}

.thumb img  { 
    width: 100%;
    width: 100%;
    height: 15rem;
    display: block;
    border: 0.15rem solid black;
    border-radius: 5%;
    background-color: white;
}

.center {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
}

.magnifier {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 80vh;
    object-fit: contain;
    border: 0.5rem solid rgb(224, 214, 214); 
    background-color: white;
    margin: 0.5rem 0 5rem;
    padding: 0;
}

:focus{
    outline: 4px solid blue;
    outline-offset: 4px;                
}

:root { 
    min-height: 100vh; 
    width: 100vw;
}

@media (orientation: landscape) and (max-height: 500px)  {   
    .header{
        margin-bottom: 0.2rem;
    }

    .galleries-button   {
        font-size: 0.75rem;
    }

    button  {
        border: 0.1rem solid black;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        font-size: 0.5rem;
    }

    .landing{
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        margin-top: 0;
    }

    h1  {
        text-align: center;
        }

    .thumb-cont {
        grid-auto-columns: repeat(2, auto);
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 8rem;
        gap: 0;
        padding: 0;
        min-width: 10rem;
        max-width: 15rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        max-height: 70vh;
        }

    .thumb img  { 
        width: 100%;
        width: 100%;
        height: 5rem;
        display: block;
        border: 0.15rem solid black;
        border-radius: 5%;
        }

    .magnifier  {
        margin: 0;
    }

    .layout {
        display: grid;
        grid-template-columns: 1fr 15rem;
        gap: 1.5rem;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        max-width: 1100px;
    }

    .thumb-title    {
        font-size: 0.5rem;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }

    .thumb-image    {
        background-color: white;
    }

    .center-title   {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    .center-content    {
        margin-left: 1rem;
    }

    .center-p  {
        margin: 0 3rem;
    }
}


@media (orientation: portrait) and (max-width: 350px)    {
    .header{
        gap: 0.5rem;
        padding: 0;
        margin: 0;
        }

    .galleries-button   {
        font-size: 0.75rem;
    }   
    
    .center-title    {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 800px;
        padding-top: 1rem;
    } 

    .magnifier  {
        width: 300px;
        margin: 0 0 3rem 0.5rem;
    }

    button  {
        border: 0.1rem solid black;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        font-size: 0.5rem;
    }

    .landing{
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1  {
        text-align: center;
    }

    .layout{
        padding-top: 0;
    }

    .magnifier{
        margin-bottom: 1rem;
        padding-bottom:1rem;
    }

    .center-p{
        margin-bottom: 4rem;
    }

    .thumb-title    {
        margin-top: 0;
        font-size:smaller;
    }

    .thumb-cont    {
        grid-auto-columns: 10rem; 
    }

    .thumb img {
        height: 10rem;
        width: 100%;
        object-fit: fit;  
    }

    .thumb-image    {
        background-color: white;
    }
};


